[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "==9.5.0"
gunicorn = "==20.1.0"
whitenoise = "==6.2.0"
psycopg2 = "==2.9.3"
djangorestframework = "==3.13.1"
django-cors-headers==3.10.1
dj-database-url = "==1.0.0"
dj-rest-auth = "==2.2.5"
django-allauth = "==0.51.0"
drf-spectacular = "==0.23.1"
pillow = "==9.2.0"
dj-email-url = "==1.0.5"
django-heroku = "==0.3.1"

[dev-packages]

[requires]
python_version = "3.10"
